header{
    color: black;
    text-align: center;
}

figcaption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

blockquote{
    border-style: groove;
    width: 180px;
}