{% extends "gamewebstore/base.html" %}
{%load static%}
{% block contenido %}

    <title>Administrar usuarios</title>

    {% if perms.gamewebstore.add_user %}
        <!-- Lista de usuarios -->
        <div class="container mt-3">
            <p class="mb-0 display-5">Opciones de administrador / Usuarios</p>
            <a href="{% url 'administrador' %}" class="btn btn-dark my-4 mx-1">Administrar usuarios</a>
            <a href="{% url 'adminGames' %}" class="btn btn-dark my-1 mx-1">Administrar juegos</a>
            <form class="mt-3">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <form role="search"> 
                            <div class="mb-0">
                                <input type="text" class="form-control" id="adminBuscarUser" placeholder="Buscar usuario... (ID, Nombre, etc)" method="GET" name="q">
                            </div>
                        </form>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'register' %}" class="btn btn-dark mt-3">Crear usuario</a>
                    </div>
                </div>
            </form>
            <div class="table-responsive my-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-dark text-white">ID</th>
                            <th class="bg-dark text-white">Nombre</th>
                            <th class="bg-dark text-white">Apellido</th>
                            <th class="bg-dark text-white">Usuario</th>
                            <th class="bg-dark text-white">Correo electrónico</th>
                            <th class="bg-dark text-white">Teléfono</th>
                            <th class="bg-dark text-white">Ciudad</th>
                            <th class="bg-dark text-white">Dirección</th>
                            <th class="bg-dark text-white">Fecha de registro</th>
                            <th class="bg-dark text-white">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                            <tr>
                                <td>{{ usuario.id_usuario }}</td>
                                <td>{{ usuario.first_name }}</td>
                                <td>{{ usuario.last_name }}</td>
                                <td><a href="{% url 'userProfile' usuario.username %}">{{ usuario.username }}</a></td>
                                <td>{{ usuario.email }}</td>
                                <td>+569{{ usuario.telefono }}</td>
                                <td>{{ usuario.ciudad }}</td>
                                <td>{{ usuario.direccion }}</td>
                                <td>{{ usuario.date_joined }}</td>
                                <td class="text-center">
                                    <a class="btn btn-primary d-inline-block mx-1 my-1" href="{% url 'userProfile' usuario.username %}">
                                        Ver perfil
                                    </a>
                                    <a class="btn btn-success d-inline-block mx-1 my-1" href="{% url 'editarusuario' usuario.id_usuario %}">
                                        <i class="bi bi-bandaid"></i> Editar
                                    </a>
                                    <a class="btn btn-danger d-inline-block mx-1 my-1" href="{% url 'deleteUser' usuario.id_usuario %}">
                                        <i class="bi bi-ban"></i> Eliminar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock contenido %}