{% extends "gamewebstore/base.html" %}
{%load static%}
{% block contenido %}

    <title>Administrar usuarios</title>

    {% if perms.gamewebstore.add_user %}
        <!-- Lista de usuarios -->
        <div class="container mt-3">
            <p class="mb-0 display-5">Opciones de administrador / Usuarios</p>
            <a href="{% url 'administrador' %}" class="btn btn-dark my-4 mx-1">Administrar usuarios</a>
            <a href="{% url 'adminGames' %}" class="btn btn-dark my-1 mx-1">Administrar juegos</a>
            <form class="mt-3">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <form role="search"> 
                            <div class="mb-0">
                                <input type="text" class="form-control" id="adminBuscarUser" placeholder="Buscar usuario... (ID, Nombre, etc)" method="GET" name="q">
                            </div>
                        </form>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'register' %}" class="btn btn-dark mt-3">Crear usuario</a>
                    </div>
                </div>
            </form>
            <div class="table-responsive my-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            {% comment %} <th class="bg-dark text-white">ID</th> {% endcomment %}
                            <th class="bg-dark text-white">Nombre</th>
                            <th class="bg-dark text-white">Apellido</th>
                            <th class="bg-dark text-white">Nombre de usuario</th>
                            <th class="bg-dark text-white">Correo electrónico</th>
                            <th class="bg-dark text-white">Número de telefóno</th>
                            <th class="bg-dark text-white">Ciudad</th>
                            <th class="bg-dark text-white">Dirección</th>
                            <th class="bg-dark text-white">Fecha de registro</th>
                            <th class="bg-dark text-white">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                 
                        {% for usuario in usuarios %}
                            <tr>
                                {% comment %} <td>{{ usuario.id }}</td> {% endcomment %}
                                <td>{{ usuario.first_name }}</td>
                                <td>{{ usuario.last_name }}</td>
                                <td>{{ usuario.username }}</td>
                                <td>{{ usuario.email }}</td>
                                   
                                        <td>+569 {{ usuario.telefono }}</td>
                                        <td>{{ usuario.ciudad }}</td>
                                        <td>{{ usuario.direccion }}</td>
                                 
                                    <td>{{ usuario.date_joined }}</td>
                                    <td class="text-center">
                                        {% comment %} <a href="{% url 'editarusuario' p.usuario.id %}">
                                            <button type="button" class="btn btn-success d-inline-block mx-1 my-1"><i class="bi bi-bandaid"></i>Editar</button>
                                        </a>
                                        <a href="{% url 'deleteUser' p.usuario.id %}">
                                            <button type="button" class="btn btn-danger d-inline-block mx-1 my-1"><i class="bi bi-ban"></i>Eliminar</button>
                                        </a> {% endcomment %}
                                    </td>
                                </tr>
                    
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock contenido %}