{% extends "gamewebstore/base.html" %}
{%load static%}
{% block contenido %}

    <title>Recuperar contraseña</title>

    <!-- LOGIN -->
    <section class="vh-100" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">
                                <form action="{% url 'msgVerificarEmail' %}l" class="was-validated" method="post">
                                    <h2 class="fw-bold mb-2 text-uppercase">Recuperar contraseña</h2>
                                    <p class="text-white mb-5">Por favor introduzca su correo electrónico para recibir un enlace de
                                        restablecimiento de contraseña.</p>

                                    <div data-mdb-input-init class="form-outline form-white mb-4">
                                        <label class="form-label" for="email">Correo electrónico*</label>
                                        <input type="email" id="email" class="form-control form-control-lg"
                                            pattern="[^ ]+@[^ ]+\.(com|cl|org|net)" required />
                                    </div>

                                    <button data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-outline-light btn-lg px-5" type="submit">Recuperar
                                        contraseña</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}