{% extends "gamewebstore/base.html" %}
{% load static %}
{% block contenido %}


    <!-- Main -->
    <section id="collection" class="p-5">
        <div class="container">
            <div class="title text-center">
                <h2 class="position-relative d-inline-block" id="palabrita">TODOS LOS JUEGOS DE PLAYSTATION</h2>
            </div>

            <div class="row">
                <div class="d-flex flex-wrap justify-content-center mt-5 filter-button-group">
                    <button type="button" class="btn m-2 text-dark active-filter-btn">Todos</button>
                    <button type="button" class="btn m-2 text-dark">PS1</button>
                    <button type="button" class="btn m-2 text-dark">PS2</button>
                    <button type="button" class="btn m-2 text-dark">PS3</button>
                    <button type="button" class="btn m-2 text-dark">PS4</button>
                    <button type="button" class="btn m-2 text-dark">PS5</button>
                </sdiv>

                <div class="collection-list mt-4 row">
                    {% for j in juegos %}
                        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                            <div class="collection-img position-relative">
                                
                                <a href="{% url 'descriptionGame' j.id %}"><img src="{{j.foto_juego.url}}" class="w-100"></a>
                            </div>
                            <div class="text-center">
                                <p class="text-capitalize my-1">{{j.nomb_juego}}</p>
                                <span class="fw-bold d-block">${{j.precio}}</span>
                                
                                <a href="{% url 'add_to_cart' j.id %}">
                                    <button type="button" class="btn m-2 text-dark">Agregar al carrito</button>
                                </a>
                            </div>
                            <div class="text-center">
                                <a href="{% url "descriptionGame" j.id %}" class="btn btn-dark">Ver detalles</a>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="container">
                        <div class="text-center m-4">
                            <p class="fw-bold">&#129309; &#129309; &#129309; NO HAY MAS JUEGUITOS PERO MIENTRAS MIRA GATITOS &#129309; &#129309; &#129309;</p>
                            <a href="{% url 'gatoRandom' %}">
                                <button class="btn btn-sucess">RANDOM CATSSSSSSSSSS!!!!!!!!!!!</button>
                            </a>
                        </div>
                    </div>
                </div>
    </section>
    {% endblock contenido %}