{% extends "gamewebstore/base.html" %}
{%load static%}
{% block contenido %}

    <title>Mi perfil</title>

    <!-- Perfil -->
    {% if perms.gamewebstore.add_user %}
        <div class="container mt-3">
            <a href="{% url 'administrador' %}" class="btn btn-dark my-4 mx-1">Administrar usuarios</a>
            <a href="{% url 'vistaVentas' %}" class="btn btn-dark my-4 mx-1">Ver ventas</a>
        </div>
    {% endif %}

    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card p-5">
            <p class="fw-bold">Información de contacto</p>
            <hr class="mb-1">
            <div class="image d-flex flex-column justify-content-center align-items-center"> 
                <h3 class="name mt-3">{{request.user.first_name}} {{request.user.last_name}}</h3> 
                <span class="idd fw-bold">@{{user.username}}</span>
                <span class="id fw-bold">ID: {{user.id}}</span>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2 mt-2"> 
                    <span class="ciudad" id="mail">Ciudad: {{perfil.ciudad}}</span>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2 mt-2"> 
                    <span class="direccion" id="mail">Direccion: {{perfil.direccion}}</span>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2 mt-2"> 
                    <span class="email" id="mail">{{user.email}}</span>
                    <span
                        id="iconoCopiar" title="Copiar" onclick="copiarEmail()"><i class="bi bi-copy"></i>
                    </span> 
                </div>

                <div id="alerta-email-copy" class="alerta-email-copy" style="display: none; position: absolute;">
                    ¡Correo copiado!
                </div>

                <div class="d-flex flex-row justify-content-center align-items-center gap-2 mt-2"> 
                    <span class="telefono" id="telefono">+569 {{perfil.telefono}}</span>
                    <span
                        id="iconoCopiar2" title="Copiar" onclick="copiarTelefono()"><i class="bi bi-copy"></i>
                    </span> 

                <div id="alerta-tel-copy" class="alerta-tel-copy" style="display: none; position: absolute;">
                    ¡Teléfono copiado!
                </div>
                
                

                </div>
                <div class="d-flex justify-content-between mt-2"> 
                <a href="{% url 'editarPerfil' %}">
                    <button type="button" class="btn btn-dark mx-3">Editar información</button> 
                </a>
                <a href="{% url 'vistaCompras' %}">
                    <button type="button" class="btn btn-dark">Mis compras</button>
                </a>
                    
                </div>
                <div class="px-2 rounded mt-4 date"> <span class="join">Se unió el: {{user.date_joined}}</span> </div>
            </div>
        </div>
    </div>
    
    <script src='{% static "gamewebstore/js/apis.js" %}'></script>
{% endblock contenido %}