{% extends "gamewebstore/base.html" %}
{% load static %}

{% block contenido %}
    <div class="container mt-3">
        <h2>Mis compras</h2>
        <a href="{% url 'userProfile' %}" class="btn btn-dark my-4 mx-1">Volver a mi perfil</a>
        <div class="table-responsive my-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="bg-dark text-white">Juego</th>
                        <th class="bg-dark text-white">Precio</th>
                        <th class="bg-dark text-white">Cantidad</th>
                        <th class="bg-dark text-white">Estado del pedido</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                        <tr>
                            <td>{{ venta.juego.nomb_juego }}</td>
                            <td>$ {{ venta.juego.precio }}</td>
                            <td>{{ venta.cantidad }}</td>
                            <td>{{ venta.estado }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock contenido %}