{% extends "gamewebstore/base.html" %}
{%load static%}
{% block contenido %}

    <div class="container mt-3">
        <h2>Ventas</h2>
        <a href="{% url 'adminGames' %}" class="btn btn-dark my-4 mx-1">Volver al admin</a>
        <div class="table-responsive my-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="bg-dark text-white">ID</th>
                        <th class="bg-dark text-white">Juego</th>
                        <th class="bg-dark text-white">Cantidad ventas</th>
                        <th class="bg-dark text-white">Total de ventas</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock contenido %}