{% extends "gamewebstore/base.html" %}
{% load static %}
{% block contenido %}

    <title>Ventas</title>

    {% if perms.gamewebstore.view_venta %}
        <div class="container mt-3">
            <h2>Ventas</h2>
            <a href="{% url 'adminGames' %}" class="btn btn-dark my-4 mx-1">Volver al admin</a>
            <div class="table-responsive my-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-dark text-white">ID venta</th>
                            <th class="bg-dark text-white">ID juego</th>
                            <th class="bg-dark text-white">Nombre juego</th>
                            <th class="bg-dark text-white">Consola</th>
                            <th class="bg-dark text-white">Cantidad vendida</th>
                            <th class="bg-dark text-white">Total venta</th>
                            <th class="bg-dark text-white">Usuario</th>
                            <th class="bg-dark text-white">Email usuario</th>
                            <th class="bg-dark text-white">Estado</th>
                            <th class="bg-dark text-white">Fecha venta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for venta in ventas %}
                            <tr>
                                <td>{{ venta.id }}</td>
                                <td>{{ venta.juego.id }}</td>
                                <td>{{ venta.juego.nomb_juego }}</td>
                                <td>{{ venta.juego.consola }}</td>
                                <td>{{ venta.cantidad }}</td>
                                <td>$ {{ venta.total_venta }}</td>
                                <td>{{ venta.usuario.username }}</td>
                                <td>{{ venta.usuario.email }}</td>
                                <td>{{ venta.estado }}</td>
                                <td>{{ venta.fecha }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock contenido %}